.game-board{
    /* margin: 25px; */
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0.25rem;
    margin: 0 auto;
}

.game-cell{
    border: 1px solid grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.game-cell.is-x{
    background: #ffd753;
    color: #fe407b;
}

.game-cell.is-o{
    background: #41178b;
    color: #008eee;
}